ENVIRONMENT=development
DATABASE_URL=postgresql+psycopg2://paec_user:paec_pass@db:5432/paec_db
JWT_SECRET_KEY=csFg7sfhAKH4xzOw99p8djR96MAkSVty1kkHdRoWPf9
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=["http://localhost:5173"]
NOTIFICATION_PROVIDER=console
EMAIL_API_KEY=
EMAIL_API_URL=
CLOUDINARY_CLOUD_NAME=e4t8zxfu
CLOUDINARY_API_KEY=672512485784651
CLOUDINARY_API_SECRET=6EAHmivhSHpS4QL6GTuYW6io8X4